configuration {
    display-drun: "Applications";
    display-window: "Windows";
    drun-display-format: "{icon} {name}";
    font: "Hack Nerd Font Medium 14";
    modi: "drun,run,window,ssh";
    show-icons: true;
    }


@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
